/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.roxo.lighten-2{
  background-color: #8C2E86 !important;
}
.roxo{
  background-color: #591E3A !important;
}
.waves-effect.waves-roxo .waves-ripple {
  background-color: rgba(164, 78, 160, 0.7); }

.btn.roxo, .btn-large.roxo{
  background-color: #8C2E86 !important;
}



.laranja.lighten-4{
  background-color: #F2B705 !important;
}
.laranja.lighten-2{
  background-color: #F28705 !important;
}
.laranja {
  background-color: #F25C05 !important;
}
.waves-effect.waves-laranja .waves-ripple {
  background-color: rgba(242, 135, 5, 0.7); }

.btn.laranja, .btn-large.laranja{
  background-color: #F25C05 !important;
}

/*Paleta cores*/
/* Color Theme Swatches in Hex */
.The-purple-hues-slot-canyon-Antelope-1-hex { color: #591E3A; }
.The-purple-hues-slot-canyon-Antelope-2-hex { color: #8C2E86; }
.The-purple-hues-slot-canyon-Antelope-3-hex { color: #F2B705; }
.The-purple-hues-slot-canyon-Antelope-4-hex { color: #F28705; }
.The-purple-hues-slot-canyon-Antelope-5-hex { color: #F25C05; }

/* Color Theme Swatches in RGBA */
.The-purple-hues-slot-canyon-Antelope-1-rgba { color: rgba(89, 30, 57, 1); }
.The-purple-hues-slot-canyon-Antelope-2-rgba { color: rgba(140, 46, 133, 1); }
.The-purple-hues-slot-canyon-Antelope-3-rgba { color: rgba(242, 182, 4, 1); }
.The-purple-hues-slot-canyon-Antelope-4-rgba { color: rgba(242, 135, 4, 1); }
.The-purple-hues-slot-canyon-Antelope-5-rgba { color: rgba(242, 91, 4, 1); }

/* Color Theme Swatches in HSLA */
.The-purple-hues-slot-canyon-Antelope-1-hsla { color: hsla(331, 49, 23, 1); }
.The-purple-hues-slot-canyon-Antelope-2-hsla { color: hsla(303, 50, 36, 1); }
.The-purple-hues-slot-canyon-Antelope-3-hsla { color: hsla(45, 96, 48, 1); }
.The-purple-hues-slot-canyon-Antelope-4-hsla { color: hsla(33, 96, 48, 1); }
.The-purple-hues-slot-canyon-Antelope-5-hsla { color: hsla(22, 96, 48, 1); }
