html, body{
    width: 100%;
}

/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    color: #000;
    text-decoration: none
}

/*======================= colors ===================*/
body, .header{
background-color: #fff; 
}
.logo a, .footer-logo a, .logo a:hover, .footer-logo a:hover{
    color: #294366;
}
.btn{
    background-color: #3E659A;
    color: #fff;
}
.btn:hover{
    background-color: #CDA96D;
    color: #fff;
}
a:hover{
    color: #CDA96D;
}
.assine_left{
    background-color: #A2BFE6;    
}
.assine_left h3, .assine_left a{
    color: #294467
}
.assine_right{
    background-color: #3E689A;
    color: #fff;
}
.assine_right .btn{
    background-color:#D7274E;
    color: #fff;
}
.separator{    
    background-image: linear-gradient(to right, #999 33%, rgba(55,55,55,0) 0%);
}
.container > div, .container > main > div{
    border-bottom: 1px solid #E8E4E6;    
}
/*==================================================*/

/*======================= Spaccing and separators ===================*/

.container > div, .container > main > div, footer{
    padding: 30px 0;
}
p{
    margin: 15px 0;
}
.btn{
    margin: 20px 0;
}

@media (min-width: 900px) {
    h1{
        margin-bottom: 2.5em;
    }
    .container > div, .container > main > div, footer{
        padding: 40px 0;
    }
    .header{
        border-top: 1px solid  #E8E4E6
    }
}
/*====================================================*/

/*======================= Typografy ===================*/
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto');
*{
    text-align: center;    
}
p{
    text-align: center;
    line-height: 1.8em;
}
a,p{
    font-family: 'Roboto', sans-serif;   
}
h1,h2,h3{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: #252525;
    font-size: 1.2em
}
@media (min-width: 600px) {
    p {text-align: left; } 
}

@media (min-width: 900px) {
    body{
        font-size: 18px;
    }
}
/*====================================================*/


/*====================== Forms =======================*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left
}

input[type=submit] {   
    padding: 0 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form{
    text-align: left
}

form div{
    text-align: left;
    margin: 20px 0 10px 0
}

/*====================================================*/


/*============== Button and others utilitaries ============*/
.btn{
    margin: 0 auto;
    padding: 12px 25px;
    font-weight:300;
    text-transform: uppercase;
    line-height: 40px;
    border-radius: 10px
}

.btn-white{
    margin: 0 auto;
    padding: 10px 15px;
    font-weight:300;
    text-transform: uppercase;
    line-height: 40px
}

.separator{
    width: 50%;    
    margin: 30px auto;
    display: block;
    height: 1px;
    background-position: bottom;
    background-size: 10px 5px;
    background-repeat: repeat-x;
}
.text-left{
    text-align: left !important
}
.mt-1{
    margin-top: 1em;
}
.mt-2{
    margin-top: 2em;
}
/*====================================================*/